.settings
    ul
        li.notes
            a(href="#")
                img(src="./images/grupo.png", alt="Notes")
                span Note
        li.files
            a(href="#")
                img(src="./images/trazado.png", alt="Files")
                span File
        li.setting
            a(href="#")
                img(src="./images/shape-1.png", alt="Settings")