.popover
    a.close-popup(href="#")
        img(src="./images/grupo-2.png", alt="X")
    .popover-content
        .hcard
            .image
                span.avatar
                    img(src="./images/images-5.png", alt="")
            .info
                h3.title Lê Hoàng Diệp Thảo
                p.email Email: lehoangthao78@gmail.com
                p.phone Phone: 0988888888
    .popover-footer
        .action
            a.btn.btn-secondary(href="#") Gửi tin nhắn
            a.btn.btn-secondary(href="#") Kết bạn