.search-task
    input#search-task.form-control(type="text", name="search_task", value="Search : All Label")
.summary-job
    a#summary-job.btn(href="#")
        img.icon(src="./images/shape-3.png", alt="Tổng quan")
        span.link-title Tổng quan
.setting-task
    a(href="#")
        img(src="./images/shape-1.png", alt="Settings")