.list-chat.aside
    header.aside-header.row
        h3.col List Chat
        a.col(href="#", id="create-chat")
            img(src="./images/forma-5.png", alt="Create chat")
    .account-lists
        div.main-account
            span.avatar
                img(src="./images/layer-3.png", alt="My chat")
            h3 My chat
        .scrollable
            each account in list_chat 
                .account(class= account.active ? "active" : "")
                    a(href="#")
                        span.avatar
                            img( src = account.avatar, alt = account.name )
                        span.name= account.name
                        if account.type == 'room'
                            span.room Room
                        if account.unread
                            span.unread= account.unread
                                if account.new
                                    span.new
