.notification
    a.new-follow(href="#")
        img(src="./images/forma-3.png", alt="new-follow")
        span.follows 8
    a.new-notify(href="#")
        img(src="./images/forma-4.png", alt="new-notify")
        span.notify 1
.account
    a(href="#")
        span.name Nguyễn Thị Như Hoa
        span.avatar
            img(src="./images/layer-3.png", alt="Nguyễn Thị Như Hoa")