.account-profile 
    header
        h3.profile-name nhatduytruong@gmail.com
    .profile-link
        ul.links
            li.link
                a(href="#") Thông tin cá nhân
            li.link
                a(href="#") Đổi mật khẩu
            li.link
                a(href="#") Nâng cấp gói
            li.link
                a(href="#") Hướng dẫn sử dụng JobChat
            li.link
                a(href="#") Hỗ trợ
            li.link.border-top
                a(href="#") Đăng xuất

