.searchbox
    form(action="/",method="GET")
        input.search-control(type="text", placeholder="Tìm kiếm mọi thông tin...", name="_s")
        button(type="submit")
            img(src="./images/forma-1.png", alt="search")
    
