.col
    .row
        .col.task-users
            include ./job-participants.jade
        .col.task-tools
            include ./job-toolbox.jade

    .row
        .col
            include ./job-task-column.jade