.notification {
    a {
        margin-right: 28px;
        position: relative;
        line-height: 33px;
        span {
            display: inline-block;
            position: absolute;
            left: 43%;
            top: -50%;
            background: $color__bg-4;
            width: 16px;
            height: 16px;
            text-align: center;
            color: #fff;
            line-height: 16px;
            border-radius: 50%;
        }
    }
}

section.notifications {
    .notification {
        display: flex;
        padding: 10px 0px;
        & + .notification {
            border-top: 1px solid #ddd;
        }
        align-items: center;
        .icon {
            margin-right: 20px;
        }
        .notification-text {
            font-size: 12px;
            margin-bottom: 0px;
        }
        .date {
            font-style: italic;
            color: #999;
        }
    }
}