.searchbox {
    margin-top: 4px;
    .search-control {
        border: none;
        width: 193px;
        padding: 0px 4px;
        color: #46454c;
    }
    button {
        background: none;
        padding: 0;
        border: none;
        outline: none;  
    }
}