.fly-out.has-close-button
    header.popup-header
        h3.popup-title Tổng quan
        a.close-popup(href="#")
            img(src="./images/grupo-2.png", alt="X")
    .popup-content
        .notes-popup
            .task.card
                .icon.task-icon
                    img(src="./images/forma-12.png")
                a.task(href="#")
                    h4.task-name Tạo danh sách các nhóm thuốc
                a.remove-task(href="#")
                    img(src="./images/grupo-5.png", alt="")
                p.created-by
                    span.caption Tạo bởi 
                    span Phạm nhật vượng
                .tags
                    span.success Phase 1
                    span.warning Important
                    span.danger Mid
                .task-footer
                    .assignees
                        span.small-caption Cần 3 người: 
                        ul.assginees
                            li.assign
                                span.avatar
                                    img(src="./images/t-i-xu-ng-1.png", alt="")
                            li.assign
                                span.avatar
                                    img(src="./images/images-4.png", alt="")
                    .task-actions
                        a.btn-primary.btn.small.get-task(href="#")
                            |Nhận việc
            .chat-notes
                .add-note
                    .new-note
                        a.new-note(href="#") Thêm ghi chú mới
                .notes-list
                    .note-card
                        .note Ngày 14/6 nhất định mình phải chọn kèo trên chấp nữa trái cũng ok!
                        .note-footer
                            .date 04/06/2018
                            .note-action
                                a.note-edit(href="#")
                                    img(src="./images/forma-19.png", alt="edit")
                                a.note-remove(href="#")
                                    img(src="./images/forma-20.png", alt="remove")
                    .note-card
                        .note 
                            |Xuân Diệu và Huy Cận: hai nhà thơ đồng tính luyến ái?
                            |Chúng ta nên biết là suốt đời Xuân Diệu không ...
                        .note-footer.bg-primary
                            .date 14/06/2018
                            .note-action
                                a.note-edit(href="#")
                                    img(src="./images/forma-19.png", alt="edit")
                                a.note-remove(href="#")
                                    img(src="./images/forma-20.png", alt="remove")

