.main-content
    header.job-list
        include ./components/job-tabs.jade
    .tabs-content
        .tab-content.job-content
        .tab-content.job-content.active.show
            include ./components/tab-screen.jade
        .tab-content.job-content
        .tab-content.job-content
        .tab-content.job-content
