.fly-out.has-close-button
    header.popup-header
        h3.popup-title Thông báo
        a.close-popup(href="#")
            img(src="./images/grupo-2.png", alt="X")
    .popup-content
        section.notifications
            each n in [1,2,3,4,5,6,7,8]
                .notification.read
                    .icon
                        img(src="./images/forma-27.png", alt="")
                    .text
                        p.notification-text
                            |Chào mừng bạn đến với Jobpro! Kích vào đây để xem hướng dẫn sử dụng chi tiết nhé
                        span.date 16-05-2018 vào lúc 14:37
                                
            
                